<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FizzBuzz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B4CAB381EF7F3B9004F81DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B4CAB4C1EF7F3B9004F81DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B4CAB571EF7F3BA004F81DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
