<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapLocation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BECC98B1E8CFFF5003A19BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BECC99F1E8CFFF6003A19BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BECC9AA1E8CFFF6003A19BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
